version: "3"

services:
  app:
    build: ./node_js
    container_name: my_node_app
    ports:
      - "5000:5000"
    depends_on:
      - redis
  
  redis:
    image: redis:latest
    container_name: redis_server
    ports:
      - "6379:6379"
